<div><pre>Lolines are a class of organic compounds produced by endophytic fungal symbionts that
are found in certain grasses. The structure is given:
These compounds are natural deterrents to many herbivores. The Grossman and Schardl
groups are currently studying the biosynthetic steps by which these compounds are made. They
have found that the bicyclic diamine below is a biosynthetic intermediate. They need to
synthesize various isotopomers of this compound to study its further transformation into lolines,
but their work is hampered by the fact that the last step in their synthesis of the amine, the
reduction of the oxime using hydrogenation over Raney nickel, gives only a 13% yield of the
major (desired) diastereomer.
My goal for the spring semester is to find a more efficient route of reducing the oxime
group to an amine.  I will investigate other reduction methods in order to see if we can obtain a
better yield.</pre></div>
