<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>


<div class="wrap">
    <div id ="compSci" class="sidebar1">Computer Science</div>
    <div id="bioChem" class="sidebar2">Biochemistry</div>
</div>
<div class="aboutWrapper" hidden>
    <div class="bussContent">

    </div>
</div>
<script src="~/Scripts/aboutLoad.js"></script>