@{
    ViewBag.Title = "Contact";
}
<div style="background-color:white;">
    <h2>@ViewBag.Title.</h2>

    <address>
        Lexington, KY 40502<br />
        <abbr title="Phone">P:</abbr>
        502.625.5674
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:austinvanderpool@gmail.com">austinvanderpool@gmail.com</a><br />
    </address>

    <address>
        <strong>Resume:</strong>   <a href="https://drive.google.com/file/d/0B-iIcKd2VClCWFp5QjhuNTZxa1k/view?usp=sharing">Dropbox Link</a><br />
    </address>
</div>