@{
    ViewBag.Title = "Home Page";
}
<div class="home-wrapper">
    <div class="info">
        <h1>Let Me Take You On a Journey...</h1>
        <p class="body-text">Hey there, </p>
        <p class="body-text" style="font-size:medium">How are you? I'm glad you're here.</p>
    </div>
    <div class="info1">
        <h3>About Me</h3>
        <p class="body-text">My name is Austin Vanderpool and I'm looking for that perfect match like the rest of us.</p>
        <p class="body-text">
            I'm a Computer Science and Mathematics double major at the University of Kentucky with a minor in Chemistry. My specialty and favorite thing to do is to learn new things.
            One might say that I possess a yearnin fer learnin. I have a wide range of hobbies and interests, from software development to training dogs to working on cars. What this really means is that when I meet that special software team I will learn
            as much as I can about every aspect of the bussiness. I will use all of those intricate details to make appropriate choices with the widest range of benifits.
        </p>
    </div>
    <div class="info2">
        <h3>About You</h3>
        <p class="body-text">
            I'm looking for a company that cares about their employees. A company that knows what it wants and is heading in the right direction. A company with a good sense of humor is
            important. I guess what I'm trying to say is I want a company with a good infastructure. We can grow together and make each other better; through the good times and the bad.
            Things like hardware, location, and benefits are not too important to me as long as the work is meaningful (although a nice pair of monitors never hurt anyone).
        </p>
        <p class="body-text">Look, we both know what we're looking for; Why don't we just go for it. I shouldn't have to entice you like this.</p>
    </div>
</div>